<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222258670494-f2pa5d36md2uk3g223ftjcjp3l0sthv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222258670494-f2pa5d36md2uk3g223ftjcjp3l0sthv2</string>
	<key>API_KEY</key>
	<string>AIzaSyB_Ta_dND_qHhUZdB_YtXRVBpIN_7DxHis</string>
	<key>GCM_SENDER_ID</key>
	<string>222258670494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mosazzi.expo.client</string>
	<key>PROJECT_ID</key>
	<string>mosazzi</string>
	<key>STORAGE_BUCKET</key>
	<string>mosazzi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222258670494:ios:59ee272d0de6eb2ce6048f</string>
</dict>
</plist>